{% extends 'base.html.twig' %}

{% block title %}Mes Ingrédients{% endblock %}

{% block body %}
    <div class="container col-10">
        <h1>Mes Ingrédients</h1>

        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Creation date</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in pagination %}
                    {% if loop.index is even %}
                        <tr class="table-active">
                            <td>{{ ingredient.id }}</td>
                            <td>{{ ingredient.name }}</th>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt|format_datetime() }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ ingredient.id }}</td>
                            <td>{{ ingredient.name }}</th>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt|format_datetime() }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>    
    </div>
{% endblock %}
