{% extends 'base.html.twig' %}

{% block title %}Mes Ingrédients{% endblock %}

{% block body %}
    <div class="container col-10">
        <h1>Mes Ingrédients</h1>

        <a href="{{ path('app_ingredient_new') }}" class="btn btn-success">New Ingredient</a>

        <div class="count mt-4">
            <small>total: {{ pagination.getTotalItemCount }}</small>
        </div>
        <small></small>

        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in pagination %}
                    {% if loop.index is even %}
                        <tr class="table-active">
                            <td>{{ ingredient.id }}</td>
                            <td>{{ ingredient.name }}</th>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt|format_datetime() }}</td>
                            <td>
                                <a href="{{ path('app_ingredient_update', {ingredient: ingredient.id}) }}" class="btn btn-outline-success btn-sm">Update</a>
                                <a href="{{ path('app_ingredient_delete', {ingredient: ingredient.id}) }}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Do you really want to delete this ingredient?')">Delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ ingredient.id }}</td>
                            <td>{{ ingredient.name }}</th>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt|format_datetime() }}</td>
                            <td>
                                <a href="{{ path('app_ingredient_update', {ingredient: ingredient.id}) }}" class="btn btn-outline-success btn-sm">Update</a>
                                <a href="{{ path('app_ingredient_delete', {ingredient: ingredient.id}) }}" class="btn btn-outline-danger btn-sm" onclick="return confirm(Do you really want to delete this ingredient?')">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>    
    </div>
{% endblock %}
